@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #1E555C;
  overflow-x: hidden;
}

.ClockApp {
  transform: translate(-50%, -50%);
  width: max(350px, 50%);
}

.clockcredits {
  margin: 20px auto;
  color: white;
  font-size: 20px;
  font-weight: 600;
}