  body {
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
  }

  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }

  .editor-header,
  .preview-header {
    width: 50%;
    height: 300px;
    margin: 0 auto;
    background-color: black;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-direction: column;
    margin-top: 20px;
    border-radius: 10px;
    font-size: 22px;
  }

  .preview-header {
    margin-top: 20px;
    background-color: black;
    width: 80%;
    height: auto;
    max-width: 80%;
    font-weight: 600px;
  }

  #preview {
    border-top: 3px solid white;
    background-color: black;
    padding: 0 5%;
    width: 90%;
    height: auto;
    z-index: 2;
    color: white;
    border-radius: 0 0 10px 10px;
    object-fit: contain;
  }

  .preview-header img {
    background-color: white;
  }

  #preview>p>img {
    width: 500px;
  }

  .editor-header>p,
  .preview-header>p {
    margin-left: 10px;
    color: white;
  }

  #editor {
    font-family: 'Courier New', Courier, monospace;
    border-top: 3px solid white;
    width: 99.2%;
    height: 80%;
    border-radius: 0 0 10px 10px;
    resize: none;
    scroll-behavior: smooth;
    scroll-snap-type: mandatory;
    background-color: black;
    color: white;
    font-size: 18px;
  }

  .App {
    padding: 50px;
    background-color: rgba(0, 0, 0, 0.6);
  }

  .credits {
    text-align: center;
    font-size: 20px;
    color: white;
    font-weight: 600;
  }