body {
  overflow-x: hidden;
}

.editor-header,
.preview-header {
  position: relative;
  width: 50%;
  min-height: 300px;
  margin: 0 auto;
  background-color: #2F9599;
  margin-top: 20px;
  border-radius: 10px;
  font-size: 22px;
}

.preview-header {
  position: relative;
  margin-top: 20px;
  width: 80%;
  height: 50%;
  max-width: 80%;
}

#preview {
  border-top: 3px solid white;
  background-color: white;
  padding: 0 5%;
  width: 90%;
  height: 300px;
  z-index: 2;
  color: black;
  border-radius: 0 0 10px 10px;
  object-fit: contain;
  overflow-y: scroll;
}

.btn-markdown {
  background-color: transparent;
  color: white;
  font-size: 24px;
  border: 0;
  outline: 0;
}

.head-editor, .head-preview {
  display: flex;
  justify-content: space-between;
  color: white;
  align-items: center;
  width: 90%;
  margin: 0 auto;
}

.preview-header img {
  background-color: white;
}

#preview>p>img {
  width: max(200px,70%)
}

.editor-header>p,
.preview-header>p {
  margin-left: 10px;
  color: white;
}

#editor {
  font-family: 'Courier New', Courier, monospace;
  border-top: 3px solid white;
  width: 99.2%;
  border-radius: 0 0 10px 10px;
  resize: none;
  scroll-behavior: smooth;
  scroll-snap-type: mandatory;
  background-color: white;
  color: black;
  font-size: 18px;
  min-height: 300px;
}

.markdowncredits {
  text-align: center;
  font-size: 20px;
  color: white;
  font-weight: 600;
}